@charset "utf-8";
/* CSS Document */

body {
	background: url(../images/background.png) repeat-x #FFF;
	margin:0;
}

#wrapper {
	width:905px;
	margin:0 auto;
	
}

#header {
	overflow:hidden;
	height:108px;
	width:905px;
	border-bottom:none;
}

#logo {
	float:left;
	width:167px;
	margin-right:95px;
	padding-top:10px;
	
}

#share {
	width:152px;
	float:left;
	padding-top:20px;
}

#share ul {
	padding:0;
	list-style:none;
}

#share ul li {
	float:left;
	width:24px;
	height:24px;
	margin-right:5px;
}

#share ul li a {
	padding:10px;
}

.facebook {
	background:url(../images/facebook.png) no-repeat;
	
}

.vkontakte {
	background:url(../images/Vkontakte.png) no-repeat;

}

.twitter {
	background:url(../images/twitter.png) no-repeat;
	
}

.youtube {
	background:url(../images/youtube.png) no-repeat;
	
}

.vimeo {
	background:url(../images/vimeo.png) no-repeat;
	
}

#navbar {
	float:right;
	width:342px;
	height:107px;

}

#navbar ul {
	list-style:none;
	margin:0;
	padding-left:0;
	height:82px;
}

#navbar ul li {
	float:left;
	padding-left:10px;
	padding-top:40px;
}

#navbar ul li a {
	text-decoration:none;
	font-family:Myriad Pro;
	font-weight:bold;
	font-size:15.28px;
	color:#396375;
	padding-bottom:50px;
}

#navbar ul li a.active {
	color:#E11D5C;
	background:url(../images/active_stage.png) center bottom no-repeat;
}


												/*  Content  */
#content {
	border-bottom: 1px solid #A7C3CF;
	overflow:hidden;
	padding-bottom:30px;
}

#content p {
	font-family:Arial;
	font-size:15.28px;
}

#content p.orange {
	color:#F2753D;
	margin:0;
}

#content img {
	padding:0 20px;
}

.float-left {
	overflow:hidden;
	vertical-align:middle;
}

.float-left p {
	text-align:left;	
}

.float-left div {
	float:left;
	text-align:right;
	padding-top:45px;
	margin-left:50px;
}

.float-left img {
	float:left;
}

.float-left p.width {
	float:left;
}

.float-right {
	overflow:hidden;
	vertical-align:middle;
}

.float-right div {
	float:right;
	text-align:left;
	padding-top:45px;
	margin-right:50px;
}

.float-right img {
	float:right;
}

.float-right p{
	text-align:right;
}

.float-right p.width {
	float:right;
}

.width {
	width:448px;
	vertical-align:middle;
	padding-top:30px;
	color:#4B7589;
	font-weight:normal;
	
}

.float-left p.orange {
	text-align:right;
}

.float-right p.orange {
	text-align:left;
}
												/*  Footer  */
#footer {
	font-size:11.11px;
	font-family:Arial;
	height:150px;
}

#footer ul {
	list-style:none;
	float:left;
	padding-left:0;
	
}

#footer ul li {
	font-weight:bold;
	float:left;
	margin-right:10px;
}

#footer ul li a  {
	text-decoration:none;
	color:#396375;
	
}

#footer ul li a:hover {
	color:#F85B4E;	
}

#footer p {
	float:right;
	color:#A7C3CF;
}

h1 {
	border-bottom: 1px solid #A7C3CF;
	font-size:55.56px;
	font-family:Myriad Pro;
	font-weight:normal;
	color:#4B7589;
	padding:20px 0;
	margin:0;
	margin-bottom:25px;
}

h2 {
	font-size:27.78px;
	font-family:Myriad Pro;
	font-weight:normal;
	color:#E92777;
	width:148px;
	margin:0;
}
